cloud_id = "b1g74d5nb7q830j12nho"
folder_id = "b1gv4l14uqqeafgtpcpr"
zone = "ru-central1-a"
image_id = "fd8e0jfb0fg8tckh7t0s"
public_key_path = "/root/.ssh/id_rsa.pub"
subnet_id = "e9b63rlo5k2ikp2kkgq9"
service_account_key_file = "key.json"
private_key = "~/.ssh/id_rsa"
