{
  "service_account_key_file": "key.json",
  "folder_id": "qwqeqeqwr",
  "source_image_family": "weqeqweq",
  "id_folder": "zero",
  "image": "ubuntu-2004-lts",
  "key_file": "packer/key.json",
  "ssh_user": "ubuntu"
}
